.experience{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }  
  .experience h1{
      position: absolute;
      top:25%;
  }
  .experience ul{
      list-style-type: none;
      margin: 0;
      padding: 0;  
      position: absolute;
     top: 40%;
     margin-top: 20px;
  }
  
  .company-name{
      font-size: 23px;
      font-weight: bold;
      margin: 15px;
  }
  .experience-details{
      font-size: 20px;
      margin: 10px;
  }
  