.introduction{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.introduction .profile-img{
    margin-top: 10%;
    height: 35%;
    width: 20%;
    border-radius: 50%;
    position: absolute;
}
.introduction h1{
   position: absolute;
   top: 65%;
}
.introduction p{
    font-size: 1.5em;
    width: 50%;
    position: absolute;
    top: 75%;
    text-align: center;
}